<a href="https://colab.research.google.com/github/sushanthbandameedi/Sushanth_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
input_string = input() 

length_of_input_string = len(input_string)

print(length_of_input_string)

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
#Used sorted function to return the count of characters in descending order.
def count_chars(string):
    result = {}
    for char in string:
        if char not in result:
            result[char] = 0
        if char in string:
            result[char] += 1
    sorted_dict = sorted(result.items(), key = lambda x:x[1],reverse = True)
    return dict(sorted_dict)
string = input()    
print(count_chars(string))

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here

input_list = []
  
number_of_elements = int(input())
  
for i in range(0, number_of_elements):
    num = int(input())
    input_list.append(num) 

print("sum: ",sum(input_list))

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def change_character(string):
    first_char = string[0]
    modified_string = string[0]
    for char in string[1:]:
        if char == first_char:
            modified_string += "$"
        else:
            modified_string += char
    return modified_string

original_string = "restart"
modified_string = change_character(original_string)
print("Original String:", original_string)
print("Modified String:", modified_string)

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
def calc_function(a,b):
    result = 3.14*(1+(a/b))**3
    return result
   
a = int(input())
b = int(input())
print(calc_function(a,b))

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
#Two dictionaries can be concatenated by prefixing them with ** within flower brackets
dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},
merged_dict = {**dic1,**dic2,**dic3}
print(merged_dict)

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
t = (1,"A",3,"me",)
search_char = input()
if(search_char in t):
  print(True)

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
def max_min(number_set):
    max_value = max(number_set)
    min_value = min(number_set)
    return (max_val, min_val)


number_set = {1, 2, 3, 4, 5}
max_value, min_value = find_max_min(number_set)
print("Max value:", max_value)
print("Min value:", min_value)

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random

def divide_students(students, group_size):
    random.shuffle(students)
    return [students[i:i+group_size] for i in range(0, len(students), group_size)]

students = ['Ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
group_size = 5

grouped_students = divide_students(students, group_size)
for i, group in enumerate(grouped_students):
    print("Group", i+1, ":", group)

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
def find_duplicates(arr):
    duplicate_dict = {}
    for i in arr:
        if i in duplicate_dict:
            duplicate_dict[i] += 1
        else:
            duplicate_dict[i] = 1
    duplicates = [key for key, value in duplicate_dict.items() if value > 1]
    if not duplicates:
        return -1
    return duplicates

arr = [1, 2, 3, 4, 2, 5, 6, 7, 3, 8, 9]
print(find_duplicates(arr))

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
import calendar

def count_sundays(year):
    sunday_count = 0
    for month in range(1, 13):
        sunday_count += calendar.monthcalendar(year, month)[0].count(6)
    return sunday_count

year = 2022
print("Number of Sundays in year", year, ":", count_sundays(year))